<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Form Tambah Distributor</title>
	</head>

	<body>
		<h3>Formulir Distributor</h3>
		<form method="post" th:action="@{/distributor/tambah_data}">
			<table>
				<tr>
					<td><label name="kdDistributor">Kode Distributor</label></td>
					<td><input name="kdDistributor" /></td>
				</tr>
				<tr>
					<td><label name="namaDistributor">Nama Distributor</label></td>
					<td><input name="namaDistributor" /></td>
				</tr>
				<tr>
					<td><label name="tipeDistributor">Tipe Distributor</label></td>
					<td>
						<select name="tipeDistributor"/>
							<option value="-" label="--Pilih--"/>
							<option value="pt" label="PT"/>
							<option value="cv" label="CV"/>
							<option value="individu" label="Individu"/>
					</td>
				</tr>
			
				<tr>
					<td><label name="telepon">Telepon</label></td>
					<td><input name="telepon" /></td>
				</tr>
				<tr>
					<td><label name="alamat">Alamat</label></td>
					<td><input name="alamat" /></td>
				</tr>
				<tr>
                    <td>
                    	<input type="submit" value="Submit"/>
                    </td>
                </tr>
			</table>
		</form>
	</body>
</html>