<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Form Edit Distributor</title>
	</head>

	<body>
		<h3>Formulir Edit Distributor</h3>
		<form method="post" th:action="@{/distributor/save_edit}">
			<table>
				<tr>
					<td><label name="kdDistributor">Kode Distributor</label></td>
					<td><input name="kdDistributor" th:value="${distributorModel.kdDistributor}" readonly/></td>
				</tr>
				<tr>
					<td><label name="namaDistributor">Nama Distributor</label></td>
					<td><input name="namaDistributor" th:value="${distributornModel.namaDistributor}"/></td>
				</tr>
				<tr>
					<td><label name="tipeDistributor">Tipe Distributor</label></td>
					<td><input name="tipeDistributor" th:value="${distributornModel.tipeDistributor}"/></td>
				</tr>
				<tr>
					<td><label name="telepon">Telepon</label></td>
					<td><input name="telepon" th:value="${distributorModel.telepon}"/></td>
				</tr>
				<tr>
					<td><label name="alamat">Alamat</label></td>
					<td><input name="alamat" th:value="${distributorModel.Alamat}"/></td>
				</tr>
				<tr>
                    <td/>
                    <td>
                    	<input type="submit" value="Submit"/>
                    </td>
                </tr>
			</table>
		</form>
	</body>
</html>