<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="ISO-8859-1">
		<title>Data Distributor</title>
	</head>
	
	<body>
		
		<h1>Tabel Distributor</h1>
		
		<table border="1">
			<thead>
				<th>Kode Distributor</th>
				<th>Nama Distributor</th>
				<th>Tipe Distributor</th>
				<th>Telepon</th>
				<th>Alamat</th>
				<th th:colspan=3>Action</th>
				
			</thead>
			
			<tbody>
				<tr th:each="distributorModel:${distributorModelList}">
				
					<td><a th:text = ${distributorModel.kodeDistributor}></a></td>
					<td><a th:text = ${distributorModel.namaDistributor}></a></td>
					<td><a th:text = ${distributorModel.tipeDistributor}></a></td>
					<td><a th:text = ${distributorModel.telepon}></a></td>
					<td><a th:text = ${distributorModel.alamat}></a></td>
					<td><a th:href = @{/distributor/edit_data?(distributorID=${distributorModel.kodeDistributor})}>Edit</a></td>
					<td><a th:href = @{/distributor/delete_data?(distributorID=${distributorModel.kodeDistributor})}>Delete</a></td>
					<td><a th:href = @{/distributor/detail_data?(distributorID=${distributorModel.kodeDistributor})}>Detail</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
	
</html>