<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="ISO-8859-1">
		<title>Data Pelajaran</title>
	</head>
	
	<body>
		
		<h1>Tabel Pelajaran</h1>
		
		<table border="1">
			<thead>
				<th>Kode Pelajaran</th>
				<th>Nama Pelajaran</th>
				<th>Jam Ajar Pelajaran</th>
				<th>Tingkat Pelajaran</th>
				<th>Keterangan Pelajaran</th>
				<th th:colspan=3>Action</th>
				
			</thead>
			
			<tbody>
				<tr th:each="pelajaranModel:${pelajaranModelList}">
				
					<td><a th:text = ${pelajaranModel.kode_pelajaran}></a></td>
					<td><a th:text = ${pelajaranModel.nama_pelajaran}></a></td>
					<td><a th:text = ${pelajaranModel.jam_ajar_pelajaran}></a></td>
					<td><a th:text = ${pelajaranModel.tingkat_pelajaran}></a></td>
					<td><a th:text = ${pelajaranModel.keterangan_pelajaran}></a></td>
					<td><a th:href = @{/pelajaran/edit_data?(pelajaranID=${pelajaranModel.kode_pelajaran})}>Edit</a></td>
					<td><a th:href = @{/pelajaran/delete_data?(pelajaranID=${pelajaranModel.kode_pelajaran})}>Delete</a></td>
					<td><a th:href = @{/pelajaran/detail_data?(pelajaranID=${pelajaranModel.kode_pelajaran})}>Detail</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
	
</html>