<!-- Modal -->
<div class="row">
	<div class="col-md-4">
		<div class="modal fade" id="modal-tambah-data" tabindex="-1" role="dialog"
			aria-labelledby="modal-edit" aria-hidden="true">
			<div class="modal-dialog modal- modal-dialog-centered modal-md"
				role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="card bg-secondary border-0 mb-0">
							<div class="card-header bg-transparent ">
								<div class="text-center text-muted">Form Tambah Distributor</div>
							</div>

							<div class="card-body">
								<form class="col-md" th:action="@{tambah_data}">
									<div class="form-group mb-3">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Kode Distributor</span>
											</div>
											<input class="form-control" type="text" name="kdDistributor">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Nama Distributor</span>
											</div>
											<input class="form-control" name="namaDistributor" type="text">
										</div>
									</div>
									
									<div class="form-group mb-3">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Tipe Distributor</span>
											</div>
											<select class="form-control" id="exampleFormControlSelect1" name="tipeDistributor">
										      <option value="pt">PT</option>
										      <option value="cv">CV</option>
										      <option value="individu">Individu</option>
										    </select>
										</div>
									</div>


									<div class="form-group">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Telepon</span>
											</div>
											<input class="form-control" name="telepon"
												placeholder="08xxxxxxxxxx" type="text">
										</div>
									</div>

									<div class="form-group">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Alamat</span>
											</div>
											<input class="form-control" name="alamat" type="text">
										</div>
									</div>
									
									<div class="text-center">
										<button type="submit" class="btn btn-success my-4">Simpan</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Batal</button>
									</div>


								</form>

							</div>
						</div>


					</div>
				</div>

			</div>
		</div>
	</div>
</div>