<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="ISO-8859-1">
		<title>Data Siswa</title>
	</head>
	
	<body>
		
		<h1>Tabel Siswa</h1>
		
		<table border="1">
			<thead>
				<th>NIM Siswa</th>
				<th>Nama Siswa</th>
				<th>Kelas Siswa</th>
				<th th:colspan=3>Action</th>
				
			</thead>
			
			<tbody>
				<tr th:each="siswaModel:${siswaModelList}">
				
					<td><a th:text = ${siswaModel.nim_siswa}></a></td>
					<td><a th:text = ${siswaModel.nama_siswa}></a></td>
					<td><a th:text = ${siswaModel.kelas_siswa}></a></td>
					<td><a th:href = @{/siswa/edit_data?(siswaID=${siswaModel.nim_siswa})}>Edit</a></td>
					<td><a th:href = @{/siswa/delete_data?(siswaID=${siswaModel.nim_siswa})}>Delete</a></td>
					<td><a th:href = @{/siswa/detail_data?(siswaID=${siswaModel.nim_siswa})}>Detail</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
	
</html>