<!-- Modal -->
<div class="row">
	<div class="col-md-4">
      <div class="modal fade" id="modal-detail-data" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
	    <div class="modal-dialog modal-info modal-dialog-centered modal-" role="document">
	        <div class="modal-content bg-gradient-primary">
	        	
	            <div class="modal-header">
	                <h3 class="modal-title" id="modal-title-notification">Detail Data Siswa</h3>
	            </div>
	            
	            <div class="modal-body">
	            	<div class="row">
	                <div class="col-md-5">
	                    <h4 class="text-white">NIM </h4>
	                    <h4 class="text-white">Nama </h4>
	                    <h4 class="text-white">Gender </h4>
	                    <h4 class="text-white">Tanggal Lahir </h4>
	                    <h4 class="text-white">Tempat Lahir </h4>
	                    <h4 class="text-white">Wali Siswa</h4>
	                    <h4 class="text-white">Pekerjaan Wali</h4>
	                    <h4 class="text-white">No.Telp Wali</h4>
	                    <h4 class="text-white">Alamat </h4>
	                    <h4 class="text-white">Kelas </h4>
	                
	                </div>
	                <div class="col-md-6">
	                    <h4 class="text-white" id="nim_siswa"></h4>
	                    <h4 class="text-white" id="nama_siswa"></h4>
	                    <h4 class="text-white" id="gender_siswa"></h4>
	                    <h4 class="text-white" id="tglLahir_siswa"></h4>
	                    <h4 class="text-white" id="tempatLahir_siswa"></h4>
	                    <h4 class="text-white" id="wali_siswa"></h4>
	                    <h4 class="text-white" id="pekerjaan_wali_siswa"></h4>
	                    <h4 class="text-white" id="telp_wali_siswa"></h4>
	                    <h4 class="text-white" id="alamat_siswa"></h4>
	                    <h4 class="text-white" id="kelas_siswa"></h4>
	                	
	                </div>
	                </div>
	            </div>
	            
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Kembali Ke Daftar Pelajaran</button>
	            </div>
	            
	        </div>
	    </div>
	</div>

  </div>
</div>