<!-- Modal -->
<div class="row">
	<div class="col-md-4">
		<div class="modal fade" id="modal-edit-data" tabindex="-1" role="dialog"
			aria-labelledby="modal-edit" aria-hidden="true">
			<div class="modal-dialog modal- modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="card bg-secondary border-0 mb-0">
							<div class="card-header bg-transparent ">
								<div class="text-center text-muted">Form Edit Siswa</div>
							</div>

							<div class="card-body">
								<form class="col-lg" th:action="@{save_edit}">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">NIM</span>
													</div>
													<input class="form-control" type="text" id="nim_siswa" name="nim_siswa">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Nama</span>
													</div>
													<input class="form-control" type="text" id="nama_siswa" name="nama_siswa">
												</div>
											</div>
											<div class="form-group mb-3">
												<div class="input-group">
													<div class="input-group-prepend">
														<div class="row pb-4 m-0">
															<div class="row m-0">
																<div class="input-group-text">Gender</div>
															</div>
															
														</div>
														<div class="row m-0">
															<div class="form-group m-0">
																<div class="input-group">
																	<div class="input-group-prepend">
																		<div class="input-group-text">
																			<input type="radio" id="gender_siswa" name="gender_siswa" value="Pria">
																		</div>
																	</div>
																	<input type="text" class="form-control" value="Pria"
																		readonly>
																</div>
															</div>
															<div class="form-group">
																<div class="input-group">
																	<div class="input-group-prepend">
																		<div class="input-group-text">
																			<input type="radio" id="gender_siswa" name="gender_siswa" value="Wanita">
																		</div>
																	</div>
																	<input type="text" class="form-control" value="Wanita"
																		readonly>
																</div>
															</div>
														</div>

													</div>

												</div>
											</div>

											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Tanggal Lahir</i></span>
													</div>
													<input class="form-control" type="date" id="tgllahir_siswa" name="tgllahir_siswa">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Tempat Lahir</i></span>
													</div>
													<input class="form-control" id="tempatlahir_siswa" name="tempatlahir_siswa"
														type="text">
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<div class="input-group ">
													<div class="input-group-prepend">
														<span class="input-group-text">Nama Wali</span>
													</div>
													<input class="form-control" id="wali_siswa" name="wali_siswa"
														type="text">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group ">
													<div class="input-group-prepend">
														<span class="input-group-text">Pekerjaan Wali</span>
													</div>
													<input class="form-control" id="pekerjaan_wali_siswa" name="pekerjaan_wali_siswa" type="text">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group ">
													<div class="input-group-prepend">
														<span class="input-group-text">No.Telp Wali</span>
													</div>
													<input class="form-control" id="telp_wali_siswa" name="telp_wali_siswa" type="text">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group ">
													<div class="input-group-prepend">
														<span class="input-group-text">Alamat</span>
													</div>
													<textarea class="form-control" rows="4" id="alamat_siswa" name="alamat_siswa"></textarea>
												</div>
											</div>
											<div class="form-group">
												<div class="input-group ">
													<div class="input-group-prepend">
														<span class="input-group-text">Kelas</span>
													</div>
													<input class="form-control" id="kelas_siswa" name="kelas_siswa" type="text">
												</div>
											</div>
										</div>

									</div>

									<div class="text-center">
										<button type="submit" class="btn btn-success my-4">Simpan</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Batal</button>
									</div>
								</form>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>