<!-- Header -->
<div class="header pb-6 d-flex align-items-center"
	style="min-height: 578px; background-image: url(assets/img/theme/cover-home.jpg); background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-default opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-10 col-md-12">
				<h1 class="display-2 text-white">Hello There</h1>
				<p class="text-white mt-0 mb-5">This is School App. You can
					manage and organize your school activity here.</p>
			</div>
		</div>
	</div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">

	<!-- Footer -->
	<footer class="footer pt-0">
		<div class="row align-items-center justify-content-lg-between">
			<div class="col-lg-6">
				<div class="copyright text-center  text-lg-left  text-muted">
					&copy; 2021 <a href="https://www.kodehive.id/"
						class="font-weight-bold ml-1" target="_blank">Kodehive
						Bootcamp - Batch 2</a>
				</div>
			</div>
			<div class="col-lg-6">
				<ul
					class="nav nav-footer justify-content-center justify-content-lg-end">
					<li class="nav-item"><text class="text-name">Randy</text></li>
					<li class="nav-item"><text class="text-name">Satrio</text></li>
					<li class="nav-item"><text class="text-name">Yustika</text></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
</div>