<div class="col-md-4">
	<div class="modal fade" id="modal-pilihsiswa" tabindex="-1"
		role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
		<div class="modal-dialog modal- modal-dialog-centered modal-md" role="document">
			<div class="modal-content bg-gradient-secondary">

				<div class="modal-header">
					<h3 class="modal-title" id="modal-title-notification">Pilih Siswa</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="table-responsive pt-2 pb-4">

						<table class="table align-items-center table-flush"  >
							<thead class="thead-light">
								<tr>
									<th>NIM</th>
									<th>Nama Siswa</th>
									<th>Kelas</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody class="list">
								<tr th:each="${sppList}">
									<th th:text="${nim_siswa}"></th>
									<th th:text="${nama_siswa}"></th>
									<th th:text="${kelas_siswa}"></th>
									<th th:text="cek"></th>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

				<div class="modal-footer"></div>

			</div>
		</div>
	</div>
</div>

<script>
	function load_table(){
		$.ajax({
			type:'get',
			url: '/mp2/transaksi/siswa',
			dataType:'json',
			success: function(sppSiswa){
				var data='';
				$.each(sppSiswa, function(index, value){
					data += '<tr>';
					data += '<td>'+value.nim_siswa+'</td>';
					data += '<td>'+value.nama_siswa+'</td>';
					data += '<td>'+value.kelas_siswa+'</td>';
					data += '<td class="pl-0 pr-0"><button type="button" class="btn btn-warning" id="pilih" value="'+value.nim_siswa+'">Pilih</button></td>';
					data += '</tr>';
				});
				$("#modallist_pilihsiswa").append(data);
			}
		})
	}
	
	$(function(){
		var no=0;
		
		load_table();
	
		$(".table #pilih").on("click", function(){
			alert("cek");
		})
		
		
		
		
	})
	
	
</script>
