<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="ISO-8859-1">
		<title>Data Kelas</title>
	</head>
	
	<body>
		
		<h1>Tabel Kelas</h1>
		
		<table border="1">
			<thead>
				<th>Kode Kelas</th>
				<th>Nama Kelas</th>
				<th>Tingkat Kelas</th>
				<th th:colspan=3>Action</th>
				
			</thead>
			
			<tbody>
				<tr th:each="kelasModel:${kelasModelList}">
				
					<td><a th:text = ${kelasModel.kode_kelas}></a></td>
					<td><a th:text = ${kelasModel.nama_kelas}></a></td>
					<td><a th:text = ${kelasModel.wali_kelas}></a></td>
					<td><a th:href = @{/kelas/edit_data?(kelasID=${kelasModel.kode_kelas})}>Edit</a></td>
					<td><a th:href = @{/kelas/delete_data?(kelasID=${kelasModel.kode_kelas})}>Delete</a></td>
					<td><a th:href = @{/kelas/detail_data?(kelasID=${kelasModel.kode_kelas})}>Detail</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
	
</html>