<!-- Modal -->
<div class="row">
	<div class="col-md-4">
		<div class="modal fade" id="modal-tambah-data" tabindex="-1" role="dialog"
			aria-labelledby="modal-edit" aria-hidden="true">
			<div class="modal-dialog modal- modal-dialog-centered modal-md"
				role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="card bg-secondary border-0 mb-0">
							<div class="card-header bg-transparent ">
								<div class="text-center text-muted">Form Tambah Kelas</div>
							</div>

							<div class="card-body">
								<form class="col-lg" th:action="@{tambah_data}">
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Kode</span>
													</div>
													<input class="form-control" type="text" id="kode_kelas" name="kode_kelas">
												</div>
											</div>
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Nama</span>
													</div>
													<input class="form-control" type="text" id="nama_kelas" name="nama_kelas">
												</div>
											</div>
									<div class="form-group mb-3">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Tingkat</span>
											</div>
											<select class="form-control" id="exampleFormControlSelect1"
												name="tingkat_kelas">
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
									</div>
									<div class="form-group mb-3">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Wali Kelas</span>
											</div>
											<select class="form-control" id="exampleFormControlSelect1"
												name="wali_kelas">
												<option value="Santi Komala S.Pd">Santi Komala S.Pd</option>
												<option value="Aulia Abdurahman S.Ag">Aulia Abdurahman S.Ag</option>
											</select>
										</div>
									</div>					
									<div class="form-group mb-3">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Ruang</span>
											</div>
											<select class="form-control" id="exampleFormControlSelect1"
												name="ruang_kelas">
												<option value="114">114</option>
												<option value="115">115</option>
												<option value="116">116</option>
											</select>
										</div>
									</div>	
									<div class="text-center">
										<button type="submit" class="btn btn-success my-4">Simpan</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Batal</button>
									</div>
								</form>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>