<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="ISO-8859-1">
		<title>Data Guru</title>
	</head>
	
	<body>
		
		<h1>Tabel Guru</h1>
		
		<table border="1">
			<thead>
				<th>NIP Guru</th>
				<th>Nama Guru</th>
				<th>Telepon Guru</th>
				<th th:colspan=3>Action</th>
				
			</thead>
			
			<tbody>
				<tr th:each="guruModel:${guruModelList}">
				
					<td><a th:text = ${guruModel.nip_guru}></a></td>
					<td><a th:text = ${guruModel.nama_guru}></a></td>
					<td><a th:text = ${guruModel.telepon_guru}></a></td>
					<td><a th:href = @{/guru/edit_data?(guruID=${guruModel.nip_guru})}>Edit</a></td>
					<td><a th:href = @{/guru/delete_data?(guruID=${guruModel.nip_guru})}>Delete</a></td>
					<td><a th:href = @{/guru/detail_data?(guruID=${guruModel.nip_guru})}>Detail</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
	
</html>