<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project Tech</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container">
		<h1>Materi CSS</h1>
		<input type="text" id="username" placeholder="Isi data username" />
		<input type="password" id="password" placeholder="Isi data password" />
		<p id="cek"></p>
		<button type="button" class="btn btn-warning" onclick="test()">SUBMIT</button>
	</div>
	
	<table class="table table-bordered">
		<tbody id="list-pasien">
		
			<!--  Result List Pasien -->
			
		</tbody>
	</table>
</body>

<script type="text/javascript">
	function test(){
		
		var uname = document.getElementById('username').value
		var pass = document.getElementById('password').value
		
		if (uname=="" && pass=="") {
			document.getElementById('cek').innerHTML="<span style='color:red'>Masukan username dan password</span>"
		} else if (uname=="") {
			document.getElementById('cek').innerHTML="<span style='color:red'>Masukan username</span>"
		} else if (pass=="") {
			document.getElementById('cek').innerHTML="<span style='color:red'>Masukan password</span>"
		} else {
			document.getElementById('cek').innerHTML="<span style='color:green'>Masukan Sesuai</span>"
		}
	}
	
	function refreshData() {
		$.ajax({
			url: '/project_tech2/pasien/list',
			type: 'get',
			dataType: 'html',
			success: function(result){
				$('#list-pasien').html(result);
			}
		});
	}
	
	
	// Modal Create-Pasien
	$('#btn-tambah').click(function(){
		var noPasien = $(this).val();
		$.ajax({
			url: '/project_tech2/pasien/list',
			type: 'get',
			dataType: 'html',
			data: {noPasien},
			success: function (result){
				$('#modal-pasien').modal('show');
			}
		});
	});
	
	// Add Pasien
	$('#modal-pasien').on('#submit', '#form-modal-pasien', function(){
		$.ajax({
			url: '/project_tech2/pasien/addPasien',
			type: 'post',
			data: $(this).serialize(), 
			success: function(result){
				alert('Data berhasil di masukan');
				$('#modal-pasien').modal('hide');
			}
		})
		return false;
	});
</script>


</html>