<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Form Edit Barang</title>
	</head>

	<body>
		<h3>Formulir Edit Barang</h3>
		<form method="post" th:action="@{/barang/save_edit}">
			<table>

				<tr>
					<td><label name="kdBarang">Kode Barang</label></td>
					<td><input name="kdBarang" th:value="${barangModel.kdBarang}"/></td>
				</tr>
				<tr>
					<td><label name="namaBarang">Nama Barang</label></td>
					<td><input name="namaBarang" th:value="${barangModel.namaBarang}"/></td>
				</tr>
				<tr>
					<td><label name="satuan">Satuan</label></td>
					<td><input name="satuan" th:value="${barangModel.satuan}"/></td>
				</tr>
				<tr>
					<td><label name="hargaSiswa">Harga Siswa</label></td>
					<td><input name="hargaSiswa" th:value="${barangModel.hargaSiswa}"/></td>
				</tr>
				<tr>
					<td><label name="keterangan">Keterangan</label></td>
					<td><input name="keterangan" th:value="${barangModel.keterangan}"/></td>
				</tr>

				
				<tr>
                    <td/>
                    <td>
                    	<input type="submit" value="Update"/>
                    </td>
                </tr>
			</table>
		</form>
	</body>
</html>