<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="ISO-8859-1">
		<title>Data Barang</title>
	</head>
	
	<body>
		
		<h1>Tabel Barang</h1>
		
		<table border="1">
			<thead>
				<th>Kode Barang</th>
				<th>Nama Barang</th>
				<th>Satuan</th>
				<th th:colspan=3>Action</th>
				
			</thead>
			
			<tbody>
				<tr th:each="barangModel:${barangModelList}">
				
					<td><a th:text = ${barangModel.kdBarang}></a></td>
					<td><a th:text = ${barangModel.namaBarang}></a></td>
					<td><a th:text = ${barangModel.satuan}></a></td>
					<td><a th:href = @{/barang/edit_data?(barangID=${barangModel.kdBarang})}>Edit</a></td>
					<td><a th:href = @{/barang/delete_data?(barangID=${barangModel.kdBarang})}>Delete</a></td>
					<td><a th:href = @{/barang/detail_data?(barangID=${barangModel.kdBarang})}>Detail</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
	
</html>