<!-- Modal -->
<div class="row">
	<div class="col-md-4">
      <div class="modal fade" id="modal-detail-data" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
	    <div class="modal-dialog modal-info modal-dialog-centered modal-" role="document">
	        <div class="modal-content bg-gradient-primary">
	        	
	            <div class="modal-header">
	                <h3 class="modal-title" id="modal-title-notification">Detail Data Barang</h3>
	            </div>
	            
	            <div class="modal-body">
	            	<div class="row">
	                <div class="col-md-5">
	                    <h4 class="text-white">Kode Barang </h4>
	                    <h4 class="text-white">Nama Barang</h4>
	                    <h4 class="text-white">Satuan </h4>
	                    <h4 class="text-white">Harga Siswa </h4>
	                    <h4 class="text-white">Keterangan </h4>
	                
	                </div>
	                <div class="col-md-6">
	                    <h4 class="text-white" id="kdBarang"></h4>
	                    <h4 class="text-white" id="namaBarang"></h4>
	                    <h4 class="text-white" id="satuan"></h4>
	                    <h4 class="text-white" id="hargaSiswa"></h4>
	                    <h4 class="text-white" id="keterangan"></h4>
	                	
	                </div>
	                </div>
	            </div>
	            
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Kembali Ke Daftar Barang</button>
	            </div>
	            
	        </div>
	    </div>
	</div>

  </div>
</div>