<!-- Modal -->
<div class="row">
	<div class="col-md-4">
		<div class="modal fade" id="modal-tambah-data" tabindex="-1"
			role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
			<div class="modal-dialog modal- modal-dialog-centered modal-md"
				role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="card bg-secondary border-0 mb-0">
							<div class="card-header bg-transparent ">
								<div class="text-center text-muted">Form Tambah Barang</div>
							</div>
							<div class="card-body">
								<form class="col-lg" th:action="@{tambah_data}">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Kode Barang</span>
											</div>
											<input class="form-control" type="text" id="kdBarang"
												name="kdBarang">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Nama Barang</span>
											</div>
											<input class="form-control" type="text" id="namaBarang"
												name="namaBarang">
										</div>
									</div>
									
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Satuan</i></span>
											</div>
											<input class="form-control" type="text" id="satuan"
												name="satuan">
										</div>
									</div>
								
									<div class="form-group">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Harga Siswa</span>
											</div>
											<input class="form-control" id="hargaSiswa"
												name="hargaSiswa" type="text">
										</div>
									</div>

									<div class="form-group">
										<div class="input-group ">
											<div class="input-group-prepend">
												<span class="input-group-text">Keterangan</span>
											</div>
											<input class="form-control" id="keterangan"
												name="keterangan" type="text">
										</div>
									</div>

									<div class="text-center">
										<button type="submit" class="btn btn-success my-4">Simpan</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Batal</button>
									</div>
								</form>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>