
	
		<div class="navbar-inner">
			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="sidenav-collapse-main">
				<!-- Nav items -->
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#master"
						data-toggle="collapse" aria-expanded="false"> <i
							class="ni ni-tv-2 text-red"></i>Master
					</a>
						<ul class="collapse list-unstyled" id="master">
							<li class="nav-item pl-4"><a class="nav-link"
								th:href="@{/pelajaran/fe_list}"><i class="ni ni-book-bookmark text-blue"></i>
									Pelajaran </a></li>
							<li class="nav-item pl-4"><a class="nav-link" th:href="@{/guru/fe_list}"><i
									class="fas fa-users text-blue"></i> Guru </a></li>
							<li class="nav-item pl-4"><a class="nav-link" th:href="@{/kelas/fe_list}"><i
									class="fas fa-school text-blue"></i> Kelas </a></li>
							<li class="nav-item pl-4" id="siswa"><a class="nav-link"
								th:href="@{/siswa/fe_list}"><i class="ni ni-single-02 text-blue"></i> Siswa </a></li>
							<li class="nav-item pl-4"><a class="nav-link" href="#"><i
									class="ni ni-box-2 text-blue"></i> Barang </a></li>
							<li class="nav-item pl-4"><a class="nav-link" href="#"><i
									class="ni ni-building text-blue"></i> Distributor </a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link" href="#transaksi"
						data-toggle="collapse" aria-expanded="false"> <i
							class="ni ni-collection text-red"></i>Transaksi
					</a>
						<ul class="collapse list-unstyled" id="transaksi">
							<li class="nav-item pl-4"><a class="nav-link" th:href="@{/transaksi/penjadwalan}"><i
									class="ni ni-calendar-grid-58 text-blue"></i> Penjadwalan </a></li>
							<li class="nav-item pl-4" id="nilai_siswa"><a
								class="nav-link" href="#"><i
									class="ni ni-single-copy-04 text-blue"></i> Nilai Siswa </a></li>
							<li class="nav-item pl-4"><a class="nav-link" th:href="@{/transaksi/spp}"><i
									class="fas fa-receipt text-blue"></i> SPP </a></li>
							<li class="nav-item pl-4"><a class="nav-link" href="#"><i
									class="ni ni-basket text-blue"></i> Pembayaran </a></li>
							<li class="nav-item pl-4"><a class="nav-link" href="#"><i
									class="ni ni-cart text-blue"></i> Pengadaan </a></li>
							<li class="nav-item pl-4"><a class="nav-link" href="#"><i
									class="ni ni-badge text-blue"></i> Operasional </a></li>
						</ul></li>
				</ul>

			</div>
		</div>
