<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Cities</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
    <body>
        <h2>Detail</h2>

        <table border="1">
			<thead>
				<th>No.Pasien</th>
				<th>Nama Pasien</th>
				<th>Gender Pasien</th>
				<th>Kategori Pasien</th>
				<th>Biaya Pasien</th>
				<th>TTL Pasien</th>
			</thead>
			
			<tbody>
				<tr>
					<td><a th:text = ${pasienModel.noPasien}></a></td>
					<td><a th:text = ${pasienModel.namaPasien}></a></td>
					<td><a th:text = ${pasienModel.genderPasien}></a></td>
					<td><a th:text = ${pasienModel.kategoriPasien}></a></td>
					<td><a th:text = ${pasienModel.biayaPasien}></a></td>
					<td><a th:text = ${pasienModel.ttlPasien}></a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/pasien/list}">Ke List</a>
    </body>
</html>