	<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Form Pasien</title>
	</head>

	<body>
		<h3>Formulir Edit Pasien</h3>
		<form method="post" th:action="@{/pasien/editPasien}" th:object="${pasienModel}" >
			<table>
				<tr>
					<td><label name="noPasien" >Nomor Pasien</label></td>
					<td><input name="noPasien" th:field="*{noPasien}" readonly /></td>
				</tr>
				<tr>
					<td><label name="namaPasien">Nama Pasien</label></td>
					<td><input name="namaPasien" th:field="*{namaPasien}"/></td>
				</tr>
				<tr>
					<td><label name="genderPasien">Gender Pasien</label></td>
					<td>
						<input type="radio" name="genderPasien" value="Pria" th:field="*{genderPasien}">Pria</radiobutton>
						<input type="radio" name="genderPasien" value="Wanita" th:field="*{genderPasien}">Wanita</radiobutton>
					</td>
				</tr>
				<tr>
					<td><label name="kategoriPasien">Kategori Pasien</label></td>
					<td>
					<select name="kategoriPasien" />
						<option value="-" label="--Please Select--"/>
						<option value="BPJS" label="BPJS" th:field="*{kategoriPasien}"/>
						<option value="Asuransi" label="Asuransi" th:field="*{kategoriPasien}"/>
						<option value="Pribadi" label="Pribadi" th:field="*{kategoriPasien}"/>
					</td>
				</tr>
				<tr>
					<td><label name="biayaPasien">Biaya Pasien</label></td>
					<td><input name="biayaPasien" th:field="*{biayaPasien}"/></td>
				</tr>
				<tr>
					<td><label name="ttlPasien">Tanggal Lahir Pasien</label></td>
					<td><input type="date" name="ttlPasien" th:field="*{ttlPasien}"/></td>
				</tr>
				<tr>
                    <td/>
                    <td>
                    	<input type="submit" value="Update"/>
                    </td>
                </tr>
			</table>
		</form>
	</body>
</html>